.header {
  position: relative;
  height: 5rem;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - (var(--horizontal-rule-spacing) * 2));
  border-bottom: 1px solid var(--bs-secondary);
  margin-left: var(--horizontal-rule-spacing);
}
