// Import all of Bootstrap's CSS

// 264653
// 2A9D8F
// E9C46A
// F4A261
// E76F51
$primary: #264653;
$success: #2a9d8f;
$danger: #e76f51;
$info: #e9c46a;
$warning: #f4a261;

@import "bootstrap/scss/bootstrap";
